mixin ad
    .ad
        .container
            .ad__inner
                .ad__image
                    img.ad__img(src="images/ad/ad__img-1.jpg")
                .ad__textblock
                    .ad__textblock-title Why choose Lamere?
                    .ad__textblock-text Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.
                    a.ad__textblock-button(href="#") Read more
            .ad__services-inner
                .ad__service
                    .ad__service-title Service Repiar
                    .ad__service-text Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint Velit officia.
                .ad__service
                    .ad__service-title Bike Accessories
                    .ad__service-text Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint Velit officia.
                .ad__service
                    .ad__service-title Warraty & Guarantee
                    .ad__service-text Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint Velit officia.
