mixin categories
    .categories
        .container
            .categories__header
                .title Our Most Popular bike category
                .categories__inner
                    .categories__suptitle Category
                    .categories__name Mountain Bikes
                    .categories__name Road Bikes
                    .categories__name Hybrid Bikes
                    .categories__name Kids Bikes
            .slider
                .slider__inner
                    .slider__image
                        img(src="images/categories/slider/slider__img-1.jpg")
                    .slider__buttons-inner
                        button.slider__button.slider__button--prev Prev
                        .slider__number <span>1</span>/4
                        button.slider__button.slider__button--next Next

                .slider__imageblock
                    img(src="images/categories/slider/slider__imgblock-1.jpg")
