mixin footer
    .footer
        .footer__connect
            .footer__connect-title Subscribe Our Newsletter
            .form
                input.textform(type="text" placeholder="Your email address")
                img.textform__img(src="images/input/input__img.svg")
            .social
                a.social__link(href="#")
                    img.social__img(src="images/social/footer/social__icon-instagram.svg")
                a.social__link(href="#")
                    img.social__img(src="images/social/footer/social__icon-dribbble.svg")
                a.social__link(href="#")
                    img.social__img(src="images/social/footer/social__icon-twitter.svg")
                a.social__link(href="#")
                    img.social__img(src="images/social/footer/social__icon-youtube.svg")
        .footer__nav-inner
            .footer__nav-title Company
            .footer__nav-links
                a.footer__nav-link(href="#") About us
                a.footer__nav-link(href="#") Blog
                a.footer__nav-link(href="#") Contact us
                a.footer__nav-link(href="#") Pricing
                a.footer__nav-link(href="#") Testimonials
        .footer__nav-inner
            .footer__nav-title Support
            .footer__nav-links
                a.footer__nav-link(href="#") Help center
                a.footer__nav-link(href="#") Terms of service
                a.footer__nav-link(href="#") Legal
                a.footer__nav-link(href="#") Privacy policy
                a.footer__nav-link(href="#") Status
