mixin header
    .header
        .container
            .header__inner
                .header__logo
                    img(src="/images/logo.svg")
                .header__nav
                    a.header__nav-link(href="#") About
                    a.header__nav-link(href="#") Shop
                    a.header__nav-link(href="#") Contact
                .header__nav
                    a.header__nav-icon(href="#")
                        img(src="/images/header/icon__search.svg")
                    a.header__nav-icon(href="#")
                        img(src="/images/header/icon__bag.svg")
                    a.header__nav-icon(href="#")
                        img(src="/images/header/icon__user.svg")
