mixin partners
    .partners
        .partners__image
            img.partners__img(src="images/partners/tesla.svg")
        .partners__image
            img.partners__img(src="images/partners/docu.svg")
        .partners__image
            img.partners__img(src="images/partners/maze.svg")
        .partners__image
            img.partners__img(src="images/partners/uber.svg")
        .partners__image
            img.partners__img(src="images/partners/miro.svg")
        .partners__image.partners__image--discord
            img.partners__img(src="images/partners/discord.svg")
