mixin welcome
    .welcome
        .welcome__info
            .welcome__textblock
                .welcome__logo
                    .welcome__logo-name LAMERE
                    .welcome__logo-description cYCLES
                .text We build only the best, customized to your exacting demands
                .button__inner
                    a.button(href="#") SHOP NOW
            .welcome__inner
                .social
                    a.social__link(href="#")
                        img.social__img(src="images/social/social__icon-google.svg")
                    a.social__link(href="#")
                        img.social__img(src="images/social/social__icon-twitter.svg")
                    a.social__link(href="#")
                        img.social__img(src="images/social/social__icon-linkedin.svg")
                    a.social__link(href="#")
                        img.social__img(src="images/social/social__icon-instagram.svg")
                .video__inner
                    iframe(width="160" height="auto" src="https://www.youtube.com/embed/Og847HVwRSI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        .slider
            .slider__image-inner
                img.slider__img(src="images/welcome/slider/slider__img-1.png")
                img.slider__img(src="images/welcome/slider/slider__img-1.png")
                img.slider__img(src="images/welcome/slider/slider__img-1.png")
            .slider__bar-inner
                // "--active" item modifier
                .slider__bar.slider__bar--active
                .slider__bar
                .slider__bar
